# --------------------------------------
# mac
# --------------------------------------
.DS_Store

# --------------------------------------
# idea
# --------------------------------------
.idea/

# --------------------------------------
# other
# --------------------------------------
_dco/
